body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    background-image: url('ml-image.png'); /* Path to your background image */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Fixed background */
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7); /* White overlay with 70% opacity */
    z-index: -1;
}



.container {
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;
}

header {
    text-align: center;
    padding: 50px 0;
    background: #ffffff5f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #333;
}

header p {
    font-size: 1.2em;
    color: #666;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
    gap: 20px;
}

.section {
    flex: 1;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease;
}

.section:hover {
    transform: scale(1.05);
}

.section h2 {
    font-size: 1.8em;
    color: #333;
    margin-bottom: 20px;
}

.section p {
    font-size: 1em;
    line-height: 1.6;
    color: #666;
}

.button {
    display: inline-block;
    padding: 12px 25px;
    margin-top: 25px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

#kmeans {
    background-color: #e0f0ffaf;
}

#knn {
    background-color: #e8ffe0b1;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #333;
    color: white;
    margin-top: 40px;
}
